/* ====== Google font Family Here  */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

/* ====== Common Css Here  */
:root {
  /* Colors  */
  --black_color: #05000e;
  --white_color: #ffffff;
  /* Font  */
  --font_manrope: "Manrope", sans-serif;
}
body {
  background-color: var(--black_color);
}

/* ====================  */
/* 01 SIgn up or Log in Page Css Here  */
/* ====================  */
#home_page_area {
  background-color: var(--black_color);
}
#home_page_area .home_page_bg {
  background-image: url(../img/signup_login/01_login_signup_img.png);
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: var(--black_color);
  position: relative;
  z-index: 1;
}
#home_page_area .logo {
  margin-top: 74px;
}
#home_page_area .logo p {
  font-family: var(--font_manrope);
  color: var(--white_color);
  font-weight: 400;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: -2%;
  text-align: center;
  margin-top: 5px;
}
#home_page_area .image-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60%; 
  background: linear-gradient(
    179.15deg,
    rgba(0, 0, 0, 0) 18.76%,
    #05000e 104.02%
  );
  pointer-events: none; 
}
#home_page_area .login_signup_button {
  position: absolute;
  bottom: 77px;
  padding: 0px 30px;
}
#home_page_area .login_signup_button_two {
  position: absolute;
  bottom: 54px;
  padding: 0px 30px;
}
#home_page_area .login_signup_button a.signup_btn {
  font-family: var(--font_manrope);
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #ffffff;
  display: block;
  text-align: center;
  border: 1px solid #bf2ef0;
  padding: 13.5px 25px;
  text-decoration: none;
  border-radius: 8px;
  background: linear-gradient(5.03deg, #05000e -52.7%, #342a42 163.3%);
  box-shadow: 0px 0px 6.2px 0px #bf2ef0;
  transition: all 0.3s ease;
}
#home_page_area .login_signup_button_two a.signup_btn {
  font-family: var(--font_manrope);
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #ffffff;
  display: block;
  text-align: center;
  border: 1px solid #07c3ff;
  padding: 13.5px 25px;
  text-decoration: none;
  border-radius: 8px;
  background: linear-gradient(5.03deg, #05000e -52.7%, #342a42 163.3%);
  box-shadow: 0px 0px 6.2px 0px #07c3ff;
  transition: all 0.3s ease;
}
#home_page_area .login_signup_button_two a.signup_btn img {
  margin-right: 16px;
}
#home_page_area .login_signup_button a.login_btn {
  font-family: var(--font_manrope);
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #ffffff; /* চাইলে #EE9F07 ও দিতে পারো */
  display: block;
  text-align: center;
  border: 1px solid #ee9f07;
  padding: 13.5px 25px;
  text-decoration: none;
  border-radius: 8px;
  background: linear-gradient(5.03deg, #05000e -52.7%, #342a42 163.3%);
  box-shadow: 0px 0px 6.2px 0px #ee9f07;
  transition: all 0.3s ease;
  margin-top: 16px;
}
#home_page_area .login_signup_button_two a.login_btn {
  font-family: var(--font_manrope);
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #ffffff; /* চাইলে #EE9F07 ও দিতে পারো */
  display: block;
  text-align: center;
  border: 1px solid #ee0707;
  padding: 13.5px 25px;
  text-decoration: none;
  border-radius: 8px;
  background: linear-gradient(5.03deg, #05000e -52.7%, #342a42 163.3%);
  box-shadow: 0px 0px 6.2px 0px #ee0707;
  transition: all 0.3s ease;
  margin-top: 16px;
  margin-bottom: 18px;
}
#home_page_area .login_signup_button_two a.login_btn img {
  margin-right: 16px;
}
#home_page_area .login_signup_button_two span {
  font-family: var(--font_manrope);
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  padding-top: 20px;
  color: var(--white_color);
}
#home_page_area .home_page_bg_two {
  background-image: url(../img/signup_login/01_login_signup_img.png);
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: var(--black_color);
}
#home_page_area .email_facebook_btn {
  margin-top: 21px;
}
#home_page_area .email_facebook_btn .mail_button {
  padding: 15px 17px;
  background: linear-gradient(5.03deg, #05000e -52.7%, #342a42 163.3%);
  border-radius: 16px;
  box-shadow: 0px 0px 6.2px 0px #dd3bf7;
  border: 1px solid #dd3bf7;
  margin-right: 15px;
}
#home_page_area .email_facebook_btn .mail_button img {
  width: 20px;
}
#home_page_area .email_facebook_btn .facebook_button {
  padding: 15px 17px;
  background: linear-gradient(5.03deg, #05000e -52.7%, #342a42 163.3%);
  border-radius: 16px;
  box-shadow: 0px 0px 6.2px 0px #0075ff;
  border: 1px solid #0075ff;
  margin-left: 15px;
}
#home_page_area .email_facebook_btn .facebook_button img {
  width: 20px;
}
.home-indicator {
  width: 100px;
  height: 4px;
  background-color: var(--white_color);
  border-radius: 10px;
  margin: 0px auto;
  position: fixed;
  bottom: 25px;
  left: 0;
  right: 0;
  z-index: 9999;
}
.sign_up_text {
  font-family: var(--font_manrope);
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -2%;
  color: var(--white_color);
  margin-bottom: 30px;
}

.login_sighup_input .input-box {
  position: relative;
  display: flex;
  align-items: center;
  background: #05000e57;
  border: 1px solid #D9D9D9;
  border-radius: 8px;
  padding: 10px;
}
.login_sighup_input select {
	background: transparent;
	color: white;
	border: none;
	outline: none;
	margin-right: 8px;
	font-size: 16px;
	appearance: none;
	cursor: pointer;
	width: 50px;
	position: absolute;
	color: transparent;
}
.login_sighup_input select option {
  background: #141414;
  color: white;
  font-size: 14px;
}
.login_sighup_input input {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 16px;
  flex: 1;
}
.login_sighup_input {
  margin: 32px 22px 0 22px;
  position: relative;
  z-index: 9999;
}
.login_sighup_input h3 {
  font-family: var(--font_manrope);
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -2%;
  text-align: center;
  color: var(--white_color);
  margin-top: 19px;
}
.login_sighup_input h5 {
  font-family: var(--font_manrope);
font-weight: 400;
font-size: 14px;
line-height: 100%;
letter-spacing: -2%;
  color: #ADB3C9;
  text-align: center;
  margin-bottom: 30px;
}
.login_sighup_input p {
font-family: var(--font_manrope);
font-weight: 500;
font-style: Medium;
font-size: 10px;
line-height: 100%;
letter-spacing: -2%; 
color: var(--white_color);
margin-top: 10px;
margin-bottom: 67px;
}
.login_sighup_input p a{
font-family: var(--font_manrope);
font-weight: 500;
font-style: Medium;
font-size: 10px;
line-height: 100%;
letter-spacing: -2%; 
color: var(--white_color);
margin-top: 10px;
text-decoration: none;
}
.login_sighup_input .back_btn img {
  padding: 8px;
  background-color: #1a1d1f;
  border-radius: 7px;
  border: 1px solid #2d3335;
}
.submit_button{
  font-family: var(--font_manrope);
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #ffffff;
  display: block;
  text-align: center;
  border: 1px solid #FF06C8;
  padding: 13.5px 25px;
  text-decoration: none;
  border-radius: 8px;
  background: linear-gradient(5.03deg, #ff06c981 -52.7%, #FF06C81A 163.3%);
  box-shadow: 0px 0px 6.2px 0px #bf2ef0;
  transition: all 0.3s ease;
  width: 100%;
}
#home_page_area .input_bg_blur::before {
  content: "";
  position: absolute;
  inset: 0;                 /* top:0; right:0; bottom:0; left:0; */
  background-image: url(../img/signup_login/01_login_signup_img.png); /* same image */
  background-size: inherit;
  background-position: inherit;
  background-repeat: inherit;
  filter: blur(10px) brightness(0.6) saturate(1.05);
  transform: scale(1.0);   
  z-index: 0;
  pointer-events: none;
}
.gmail_dot_com{
  position: absolute;
  right: 16px;
  font-family: var(--font_manrope);
font-weight: 500;
font-style: Medium;
font-size: 14px;
line-height: 100%;
letter-spacing: -2%;
color: var(--white_color);
}
.input_box_for_mail input {
	/* margin-right: 32px; */
	padding-right: 90px;
	width: 100% !important;
}
.otp_input_area input {
	width: 35px !important;
	border: 1px solid #CAE2FF;
	margin: 0px 4px;
	padding: 2px;
	height: 35px;
  font-family: var(--font_manrope);
font-weight: 500;
font-style: Medium;
font-size: 14px;
line-height: 100%;
letter-spacing: -2%;
color: var(--white_color);
background-color: transparent;
}
.form-control:focus {
	color: #ffffff;
	background-color: transparent;
	border-color: #86b7fe;
	outline: 0;
	box-shadow: 0 0 0 0 rgba(13,110,253,.25);
}